body {
    background-image: url(../media/background.jpeg);
    background-size: cover;
}

#content {
    background-color: white;
    /* position: relative;
    left: 50%; */
    /* display: flex;
    justify-content: center; */
    height: 50vh;
    padding: 0 10vw 0 10vw;
    margin: 0 10vw 0 10vw;
    /* width: 60vh; */
}

.container {
    display: flex;
    height: 20vh;
    justify-content: space-between;
}

.item {
    flex-basis: 10vw;
    border: 2px solid black;
    border-radius: 5px;
}

.button {
    padding: 10px;
    border-radius: 10px;
}

.menu {
    display: flex;
    justify-content: center;
}
