body {
    background-image: url(../media/background.jpeg);
    background-size: cover;
}

#content {
    background-color: rgba(0,0,0,0.8);
    color: aliceblue;
    box-sizing: border-box;
    height: 60vh;
    padding: 0 10vw 0 10vw;
    margin: 0 10vw 0 10vw;
    border-radius: 10px;
}

.container {
    display: flex;
    height: 20vh;
    justify-content: space-between;
}

.item {
    flex-basis: 10vw;
    border: 2px solid black;
    border-radius: 5px;
}

.button {
    padding: 10px;
    border-radius: 10px;
}

.menu {
    display: flex;
    justify-content: center;
}

.heading {
    font-size: 48px;
    padding: 50px 0 50px 0;
}

.copy {
    font-size: 32px;
    margin-bottom: 50px;
}
