body {
    background-image: url(../media/background.jpeg);
    background-size: cover;
}

#content {
    background-color: rgba(0,0,0,0.8);
    color: aliceblue;
    box-sizing: border-box;
    height: auto;
    padding: 0 5vw 10vh 5vw;
    margin: 0 10vw 0 10vw;
    border-radius: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.item {
    flex-basis: 10vw;
    min-height: 50vh;
    min-width: 300px;
    border: 2px solid white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.item-picture {
    height: 50%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.item-title {
    height: 10%;
    font-size: 24px;
    text-align: center;
    padding-top: 25px;
}

.item-desc {
    height: 40%;
    padding: 10px;
}

.button {
    padding: 10px;
    border-radius: 10px;
}

.menu {
    display: flex;
    justify-content: center;
}

.heading {
    font-size: 48px;
    padding: 50px 0 50px 0;
}

.copy {
    font-size: 32px;
    margin-bottom: 50px;
}
